* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #0a192f;
    color: #8892b0;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.navbar a:hover {
    color: #0ed;
}

#menu-icon {
    font-size: 2.2rem;
    color: #fff;
    display: none;

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 18px;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content {
    max-width: 500px;
}

.home-sci a {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    bottom: 30px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background: linear-gradient(45deg, #f06, #3cf);
}

.home-sci {
    padding: 15px;
}

.home-sci a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}

.fa-cloud-arrow-down {
    font-size: 20px;
}

#btn {
    text-decoration: none;
    border-radius: 4rem;
    box-shadow: 0 0 1rem;
    padding: 6px;
    color: #fff;
    background-color: #3cf;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

#btn:hover {
    box-shadow: none;
}

.image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.skills {
    padding: 0 15%;
}

li ul {
    padding: 0 15%;
}

.about {
    padding: 0 15%;
}

.skills h3 {
    font-size: 18px;
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

